# Data Handling and Math
pandas
numpy
scikit-learn

# Deep Learning and NLP
torch>=2.0.0
transformers>=4.30.0
sentence-transformers
huggingface-hub

# Audio Processing
librosa
soundfile

# Visualization
matplotlib
seaborn
tqdm